image: node:18

## Quality checkers by Gitlab

# include:
#   - template: Code-Quality.gitlab-ci.yml

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

include:
  template: Dependency-Scanning.gitlab-ci.yml

include:
  template: SAST.gitlab-ci.yml

test:
  script:
    - npm ci
    - npm run test
  coverage: /^Statements\s*:\s*([^%]+)/

#####################
# Publish on NPM
#####################
npm:
  stage: deploy
  only:
    - tags
  script:
    - npm config set "//registry.npmjs.org/:_authToken" $NPM_TOKEN
    - npm install --unsafe-perm
    - npm publish --unsafe-perm

#####################
# Publish on Docker
#####################
docker-next:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  only:
    - master
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:next .
    - docker push $CI_REGISTRY_IMAGE:next

docker-tag:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  only:
    - tags
  script:
    - VERSION=$CI_COMMIT_TAG
    - echo $VERSION
    - docker info
    - docker login -u $DOCKER_HUB_USER -p $DOCKER_HUB_PASSWORD
    - docker build -t ramielcreations/caravaggio:$VERSION .
    - docker tag ramielcreations/caravaggio:$VERSION ramielcreations/caravaggio:latest
    - docker images
    - docker push ramielcreations/caravaggio:$VERSION
    - docker push ramielcreations/caravaggio:latest
